:root {
  --btn_width: 52px;
  --btn_height: 36px;
}

.wraper {
  width: 100%;
  height: var(--header_height);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 1px var(--shadow_color);
}

.container {
  width: var(--primary-width);
  display: flex;
  justify-content: space-between;
}

.search {
  position: relative;
  width: 361px;
  height: 46px;
  background-color: var(--search_color);
  border-radius: var(--border_radius);
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    flex: 0.9;
    margin-left: 24px;
    padding: 4px;
    background-color: transparent;
    outline: none;
    color: #fff;
    border: none;
    caret-color: var(--primary);
    font-size: 16px;
  }

  .search_btn {
    background-color: transparent;
    color: #7b7b7b;
    font-size: 22px;
    width: var(--btn_width);
    height: 100%;
    border-top-right-radius: var(--border_radius);
    border-bottom-right-radius: var(--border_radius);
    cursor: pointer;

    &::after {
      position: absolute;
      top: 15%;
      right: var(--btn_width);
      content: "";
      width: 1px;
      height: 70%;
      background-color: #484848;
    }

    &:active,
    &:hover {
      background-color: #373737;
    }
  }
}

.search input:not(:placeholder-shown) ~ .search_btn {
  color: #cbcbcb;
}

.search input:not(:placeholder-shown) ~ .icon_search svg {
  display: block;
}
.icon_search {
  svg {
    position: absolute;
    top: 50%;
    right: 18%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #767676;
    display: none;
  }
}

.options_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 271px;

  .login_btn,
  .btn_upfile {
    height: var(--btn_height);
    width: 108px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }
  .btn_upfile {
    background-color: #252525;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .btn_upfile:hover {
    background-color: #1b1b1b;
  }
  .login_btn {
    background-color: var(--primary);
    border-radius: 4px;
  }
  .login_btn:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
      #fe2c55;
  }

  .more__options_icon {
    height: 24px;
  }
}
